*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    padding: 8px;
}

body{
    font-family: 'Noto Sans', sans-serif;
}
.welcome {
    background-image: url(../assets/backgrounds/h_img.jpg);
    height: auto;
    background-size: 100% 100%;
    color: white;
    padding-top: 160px;
}

.logo{
    padding-bottom: 20px;
}

.mouse{
    padding-top: 140px;
}

.services {
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: 100% 100%;
    color: white;
    height: auto;
}

.whenHover{
    display: none;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.contact {
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: 100% 100%;
}

.hidden {
    display: none;
}

::placeholder{
    color: white;
}

input{
    margin: 2px;
    margin-left: 2%;
}

input, textarea{
    border: 1px solid white;
    color: white;
}
.icons a{
    margin-left: 5px;
    margin-right: 5px;
}